/* Written by Andrew Zacharias */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background: #e8d7c2; /* in case background image doesn't load */
    font-family: Lato, Verdana, sans-serif;
    font-size: 18px;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #3f3b35;;
}

p {
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: PT Serif, Times, sans-serif;
    font-weight: 700;
}

a {
    color: #d14836;
}

a:visited {
    color: maroon;
}
/* Fixes 0 height divs with floated elements */
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.centered {
    display: block;
    margin: 0 auto;
}

/* NAVIGATION BAR AND MENU */

nav {
    display:block;
    height: 100px;
    width: 100%;
}

#navBar {
    display: block;
    height: 50px;
    width: 100%;
    background: #3f3b35;
    margin-top: 50px;
    position: relative;
    z-index: 3; /* Ensures nav bar is visible, important for IE 8 */
}

#stamplogo {
    display:inline-block;
    position: relative;
    top: -50px;
    z-index: 2;
}

#stamplogo img {
    max-width:100%;
}

#topNav {
    max-width: 1100px;
    display: block;
    margin: 0 auto;
}

#navMenu {
    font-family: PT Serif, Times, sans-serif;
    vertical-align: top;
}
#navMenu ul {
    margin: 0;
    padding: 0;
}
#navMenu li {
    list-style: none;
    display: inline-block;
}

#navMenu li a {
    display: inline-block;
    font-size: 24px;
    color: #D8C7B2;
    padding: 9px 20px;
    text-decoration: none;
}

#navMenu li a:hover {
    background: #625D57;
    color: #97AF34;
}

#navMenu {
    display: inline-block;
}
#navMenu > * {
    display: inline-block;
}

#navMenu a.active {
    background: #554f47;
    color: #97AF34;
}

#menuButton {
    display: none;
}


/* MAIN CONTENT AREA */

.mainContentArea {
    max-width: 1100px;
    display: block;
    margin: 0 auto;
    padding: 0 0 20px 0;
    background: #f1e7da;
}

.mainContent {
    overflow: hidden;
    padding: 20px 40px;
}

.mainContent img {
    border: 1px solid #3f3b35;
}

.pagePhoto {
    position: relative;
    width: 100%;
    top: -50px;
    margin-bottom: -50px;
    z-index: 1;
}


/* CONTACT PAGE */

/* responsiveIframe CSS adapted from code at 
http://stackoverflow.com/questions/12676725/responsive-iframe-google-maps-and-weird-resizing */
.responsiveIframe {
    position: relative;
    padding-bottom: 60%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsiveIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#googleMap {
    border: 3px solid #3f3b35;
}

/* CONTACT FORM */

.contactForm label, input, textarea {
    margin-bottom: 0.4em;
}
.contactForm label {
    clear: left;
    float: left;
    width: 100%;
}

.contactForm input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 2px;

}

button#submit {
    clear: left;
    float: right;
    width: 40%;
    height: 50px;
    background: #d14836;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-image:linear-gradient(center top, #dd4b39, #d14836);
    background-image:-moz-linear-gradient(center top, #dd4b39, #d14836);
    background-image:-webkit-linear-gradient(center top, #dd4b39, #d14836);
}

button#submit:hover {
    background: #da4d3b;
}

/* FOOTER */
footer {
    margin: 0;
    width: 100%;
    min-height: 100px;
    background: #3f3b35;
}

/* Footer content centered on page and same width as overall page */
#footerContent {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}

#footerLeft, #footerCenter, #footerRight {
    vertical-align: top;
    display: inline-block;
}

/* Left footer contains nav links */
#footerLeft {
    width: 39%;
    min-width: 200px;
}

#footerLeft ul{
    margin: 0 0 10px 0;
    padding: 0;
}

#footerLeft li{
    display: inline-block;
    list-style-type: none;
    padding: 2% 7%;
}

#footerLeft a{
    color: white;
}

#footerCenter {
    width: 19%;
    min-width: 80px;
}

#footerCenter img {
    display: inline-block;
    padding: 0 8% 8% 8%;
    max-width: 45%;
}

/* Make images rotate slightly when you mouse over them */
#footerCenter img:hover {
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Chrome, Safari, Opera */
    transform: rotate(5deg);
}

#footerRight {
    width: 39%;
    min-width: 170px;
}

#footerRight img {
    max-width: 100%;
}

/* GRID SYSTEM */
/* Adapted from code at https://css-tricks.com/dont-overthink-it-grids/ */

.col-1-3 {
    width: 33%;
}

.col-2-3 {
    width: 66%;
}

.col-1-2 {
    width: 49%;
}

.col-1-1 {
    width: 100%;
}

[class*='col-'] {
    display: inline-block;
    vertical-align: top;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

[class*='col-'] img {
    max-width: 100%;
}
/* END GRID SYSTEM */

.events {
    background: #edd4c2;
    padding: 0 10px 0 20px;
}

.contactUs {
    background: #e8d7c2;
    padding: 10px 20px;
    margin-bottom: 20px;
}


.spin:hover {
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



/* Break point for smaller screens. */
/* Makes nav menu smaller. Reduces to one column layout */
@media screen and (max-width: 959px) {
    [class*='col-'] {
        width: 100%;
    }

    #navMenu li a {
    padding: 9px 10px;
    }
}

/* Desktop styles */
@media screen and (min-width: 768px) {
    body{
        background-image: url(../images/bgpattern2.png); /* bg adopted from subtlepatterns.com */
    }
}

/* Break point for phone sized screens */
/* Makes menu two rows to fit. Reduces padding in other places */
@media screen and (max-width: 767px) {

    #navBar {
        height: 100px;
        margin-top: 0px;
    }
    .pagePhoto {
        position: relative;
        width: 100%;
        top: 0;
        margin-bottom: 0;
    }
    #stamplogo {
        top: 0;
        max-width: 34%;
    }
    

    #navMenu {
        width: 64%;
        overflow: hidden;
    }

    #navMenu ul {
        /*max-width: 300px;*/
    }
    #navMenu li {
        width: 30%;
    } 
    #navMenu li a {
        padding: 9px 20px;
    }

    /* Reduce padding on sides */
    .mainContent {
    padding: 20px 20px;
    }

    /* FOOTER rearranged for mobile */
    #footerRight {
        width: 65%;
    }
    #footerLeft {
        width: 100%;
    }
    #footerLeft li {
        padding: 2%;
    }
    #footerCenter {
        width: 34%;
    }
}

/* Transitions to hamburger drop down menu */
@media screen and (max-width: 550px) {
    #menuButton {
        color: white;
        height: 100%;
        width: 100%;
        /*max-width: 150px;*/
        background: #823732;
        padding: 10px;
        padding-left: 30px;
        display: inline-block;
        /*float: right;*/
        font-size: 24px;
        text-decoration: none;
        position: relative;
        z-index: 5;
        /*border-radius: 10px;*/
    }

    #menuButton img {
        max-width: 50%;
        float:right;
    }

    #navMenu ul li {
        display:none;
    }
    #navMenu.expanded ul {
        max-width: 100%;
    }
    #navMenu.expanded ul li {
        display: inline-block;
        position: relative;
        z-index: 2;
        width: 100%;
        background: #3f3b35;
    }

    #navMenu.expanded ul li a {
        width: 100%;
    }


}